<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/postAd.css">
    <link rel="stylesheet" href="../media/postAd-media.css">
    <link rel="stylesheet" href="../media/media.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,200;1,400&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>ELGEZAWY AUTO</title>
    <link rel="me" href="mmustafa6628@gmail.com">
    <link rel="me" href="+01298745515">
    
    <body>
        <header class="header main-header">
            <nav class="navbar">
                <div class="container">
                    <a href="../../index.html" class="logo ">
                        <h3>ELGEZAWY<span><img src="../assets/cabriolet-7.png" alt="elgezawy auto"></span></h3>
                    </a>
                    <div class="input-nav">
                        <input type="text" placeholder="search by brand or model" type="search" placeholder="Search" aria-label="Search">
                        <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    </div>
                    <div class="contact-nav">
                        <a href="./login.html" class="login text-decoration-none ">
                            <i class="fa-regular fa-user"></i>
                            <span>login</span>
                        </a>
                        <a href="#" class="language ">
                            <i class="fa-solid fa-globe"></i>
                            <span>العربيه</span>
                        </a>
                        <a href="./postAd.html" class="post-ad-btn ">
                            <i class="fa-solid fa-plus m-lg-2"></i>
                            <span>post ad</span>
                        </a>
                    </div>
                </div>
            </nav>
            <nav class="sec-nav ">
                <ul class="links-nav d-flex aline-item-center">
                    <li class="header-nav-menue-items cars-sale">
                        <a href="#" class="">Cars for sale</a>
                        <div class="heiden-nav-item">
                            <ul class="m-l-0">
                                <li>
                                    <a href="../../index.html">
                                        <i class="fa-solid fa-car"></i>
                                        <span>all cars</span>
                                    </a>
                                    <a href="../../index.html">
                                        <i class="fa-solid fa-award"></i>
                                        <span>new cars</span>
                                    </a>
                                    <a href="../../index.html">
                                        <i class="fa-solid fa-car-on"></i>
                                        <span>used cars</span>
                                    </a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="../../index.html">
                                        <i class="fa-solid fa-bolt"></i>
                                        <span>electric cars</span>
                                    </a>
                                    <a href="../../index.html">
                                        <i class="fa-solid fa-globe"></i>
                                        <span>Imported cars</span>
                                    </a>
                                    <a href="../../index.html">
                                        <i class="fa-solid fa-rectangle-list"></i>
                                        <span>Cars can be financed</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                    </li>
                    <li class="header-nav-menue-items">
                        <a href="#">Official importer specifications</a>
                    </li>
                    <li class="header-nav-menue-items">
                        <a href="#">Car valuation</a>
                    </li>
                    <li class="header-nav-menue-items">
                        <a href="#">Finance</a>
                    </li>
                    <li class="header-nav-menue-items">
                        <a href="#">Insurance</a>
                    </li>
                    <li class="header-nav-menue-items">
                        <a href="#">Car maintenance</a>
                    </li>
                    <li class="header-nav-menue-items">
                        <a href="#">Dealers & Showrooms</a>
                    </li>
                    <li class="header-nav-menue-items">
                        <a href="#">News</a>
                    </li>
                    
                </ul>
            </nav>
        </header>
        <header class="header-sm">
            <nav class="navbar">
                <div class="container">
                    <a href="../../index.html" class="logo ">
                        <h3>ELGEZAWY<span><img src="../assets/cabriolet-7.png" alt="elgezawy auto"></span></h3>
                    </a>
                
                    <div class="contact-nav">
                        <i class="fa-solid fa-magnifying-glass search" id="search-icon"></i>
                        <i class="fa-solid fa-bars menu"></i>
                    </div>
                </div>
                <div class="search-page">
                    <div class="container-search">
                        <div class="box-serch">
                            <input type="text" placeholder="search by brand or model">
                            <span class="cancel-search-page">cancel</span>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="sec-nav_sm">
                <div class="content">
                    <div class="box-sec-nav">
                        <h4>menu</h4>
                        <div class="close-menu">
                            <i class="fa-solid fa-xmark"></i>
                            <span>close</span>
                        </div>
                    </div>
                    <a class="login_or_signup" href="./login.html">
                         <div class="user">
                             <i class="fa-solid fa-user"></i>
                            <span>login / signup</span>
                        </div>
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                    <section class="main-links-sm">
                        <ul class="links">
                            <li class="list-links">
                                <div>
                                    <i class="fa-solid fa-car"></i>
                                    <span>cars for sale</span>
                                </div>
                                <i class="fa-solid fa-chevron-right" id="direct"></i>
                            </li>
                            <ul class="hiden-links-sm">
                                <li>
                                    <i class="fa-solid fa-car"></i>
                                    <span>all cars</span>
                                </li>
                                <li>
                                    <i class="fa-solid fa-award"></i>
                                    <span> New cars</span>
                                </li>
                                <li>
                                    <i class="fa-solid fa-car"></i>
                                    <span> Used cars</span>
                                </li>
                                <li>
                                    <i class="fa-solid fa-bolt"></i>
                                    <span>Electric cars</span>
                                </li>
                                <li>
                                    <i class="fa-solid fa-globe"></i>
                                    <span>Imported cars</span>
                                </li>
                                <li>
                                    <i class="fa-solid fa-rectangle-list"></i>
                                    <span>Cars can be financed</span>
                                </li>
                            </ul>
                            <li class="list-links">
                                <div>
                                    <i class="fa-regular fa-bookmark"></i>
                                    <span>New cars catalog</span>
                                </div>
                                <i ></i>
                            </li>
                            <li class="list-links">
                                <div>
                                    <i class="fa-solid fa-hill-avalanche"></i>
                                    <span>Valuate your car</span>
                                </div>
                                <i ></i>
                            </li>
                            <li class="list-links">
                                <div>
                                    <i class="fa-solid fa-car"></i>
                                    <span>Car Finance</span>
                                </div>
                                <i ></i>
                            </li>
                            <li class="list-links">
                                <div>
                                    <i class="fa-solid fa-screwdriver-wrench"></i>
                                    <span>Insurance</span>
                                </div>
                                <i ></i>
                            </li>
                            <li class="list-links">
                                <div>
                                    <i class="fa-brands fa-ideal"></i>
                                    <span>Car maintennace</span>
                                </div>
                                <i ></i>
                            </li>
                            <li class="list-links">
                                <div>
                                    <i class="fa-solid fa-newspaper"></i>
                                    <span>Dealers & Showrooms</span>
                                </div>
                                <i></i>
                            </li>
                            <li class="list-links">
                                <div>
                                    <i class="fa-solid fa-newspaper"></i>
                                    <span>Articles</span>
                                </div>
                                <i></i>
                            </li>
                        </ul>
                    </section>
                    <a href="./postAd.html" class="ad-post-btn">
                        <i class="fa-solid fa-plus"></i>
                        <span>ad post</span>
                    </a>
                    <section class="main-links-sec">
                        <ul>
                            <li>
                                <a href="#" class="sec-links">
                                    <div>
                                        <i class="fa-solid fa-globe"></i>
                                        <span class="text--bold">language</span>
                                    </div>
                                    <div>
                                        <span>العربيه</span>
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="sec-links">
                                    <div>
                                        <i class="fa-solid fa-square-poll-vertical"></i>
                                        <span class="text--bold">privacy policy</span>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="sec-links">
                                    <div>
                                        <i class="fa-regular fa-comment"></i>
                                        <span class="text--bold">your opinion metter</span>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </header>
    <!-- start main  -->
    <main class="main_postAd">
        <div class="container main_postAd_container">
            <div class="postad-tittle">
                <h4>Sell your car in minutes with a few simple steps</h4>
                <div class="stepper">
                    <div class="step active">
                        <div class="step-icon sep-icon-current"></div>
                        <span>Car Details</span>
                    </div>

                    <div class="right"><i class="fa-solid fa-arrow-right-long"></i></div>

                    <div class="step">
                        <div class="step-icon"></div>
                        <span>Car images</span>
                    </div>

                    <div class="right"><i class="fa-solid fa-arrow-right-long"></i></div>

                    <div class="step">
                        <div class="step-icon"></div>
                        <span>Contact Info</span>
                    </div>
                </div>
            </div>
            <section class="Car__status" id="state">
                <label for="Car status">Car status</label>
                <div class="stats-box">
                    <h3 class="active">new</h3>
                    <h3>used</h3>
                </div>
            </section>
            <section class="make" id="make">
                <label for="Select brand">Select brand</label>
                <div class="p-dropdown">
                    <div class="input-dropdown">
                        <input type="text" id="input-makes" placeholder="EX: toyota">
                    </div>
                    <span type="text" id="input-makes">EX: toyota</span>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </section>
            <section class="make" id="Model">
                <label for="Select brand">Model</label>
                <div class="p-dropdown">
                    <div class="input-dropdown">
                        <input type="text" id="input-makes" placeholder="EX: korolla">
                    </div>
                    <span type="text" id="input-makes">EX: korolla</span>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </section>
            <section class="make" id="Year">
                <label for="Select brand">Year</label>
                <div class="p-dropdown">
                    <div class="input-dropdown">
                        <input type="text" id="input-makes" placeholder="EX: 2020">
                    </div>
                    <span type="text" id="input-makes">EX: 2020</span>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </section>
            <section class="Car__status" id="Imported">
                <label for="Car status">Imported?</label>
                <div class="stats-box">
                    <h3 >no</h3>
                    <h3>yes</h3>
                </div>
            </section>
            <section class="Car__status" id="Fueltype">
                <label for="Car status">Fuel type?</label>
                <div class="Fueltype-content">
                    <h4>gas</h4>
                    <h4>diesel</h4>
                    <h4>natural gas</h4>
                    <h4>hybird</h4>
                    <h4>electric</h4>
                </div>
            </section>
            <section class="Car__status" id="Transmission">
                <label for="Car status">Transmission</label>
                <div class="stats-box">
                    <h3 class="active">manual</h3>
                    <h3>automatic</h3>
                </div>
            </section>
            <section class="Car__status" id="Fueltype">
                <label for="Car status">Body Shape</label>
                <div class="Shape-content">
                    <ul class="shape">
                        <li class="shape-box">
                            <img src="../assets/sedan-1.png" alt="seden">
                            <span>seden</span>
                        </li>
                        <li class="shape-box">
                            <img src="../assets/hatchback-2.png" alt="Hatchback">
                            <span>Hatchback</span>
                        </li>
                        <li class="shape-box">
                            <img src="../assets/suv-3.png" alt="SUV">
                            <span>SUV</span>
                        </li>
                        <li class="shape-box">
                            <img src="../assets/coupe-4.png" alt="Coupe">
                            <span>Coupe</span>
                        </li>
                        <li class="shape-box">
                            <img src="../assets/van-5.png" alt="Van">
                            <span>Van</span>
                        </li>
                        <li class="shape-box">
                            <img src="../assets/station-6.png" alt="Station">
                            <span>Station</span>
                        </li>
                        <li class="shape-box">
                            <img src="../assets/cabriolet-7.png" alt="Cabriolet">
                            <span>Cabriolet</span>
                        </li>
                        <li class="shape-box">
                            <img src="../assets/pickup-8.png" alt="Pickup">
                            <span>Pickup</span>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="Car__status" id="Kilometers">
                <label for="Kilometers">Kilometers (KM)</label>
                <div class="stats-box">
                    <div class="input-info input__Kilometers">
                        <input type="text" placeholder="EX: 20,000">
                        <Span>KM</Span>
                    </div>
                </div>
                <div class="error__kilometres">
                    <span>Kilometers is required; it must be at least 10 km</span>
                </div>
            </section>
            <section class="Car__status" id="Price">
                <label for="Price">Price (EGP)</label>
                <div class="stats-box">
                    <div class="input-info input__Kilometers">
                        <input type="text" placeholder="EX: 350,000">
                        <Span>EGY</Span>
                    </div>
                </div>
                <div class="error__kilometres">
                    <span>Price is required, It must be at least 5000 EGP</span>
                </div>
            </section>
            <!-- <section class="Car__status" id="Price">
                <label for="Additional">Additional Comments (Optional)</label>
                <div class="stats-box">
                    <input type="text" placeholder="Other information you would like to share with buyers">
                </div>
                
            </section> -->
        </div>
    </main>
    <!-- end main  -->
    <!-- start feedback -->
    <div class="feedback">
        <h3>feedback</h3>
    </div>
    <div class="feedback-container">
        <div class="container">
            <span class="close-feedback">
                <i class="fa-solid fa-xmark"></i>
                <span>close</span>
            </span>
            <div class="tittle">
                <h3>Give Feedback To owener website</h3>
            </div>
            <div class="boxs">
                <div class="feed-box like" data-opinion=".opinionOne">
                    <div class="info">
                        <i class="fa-solid fa-face-smile"></i>
                        <h4>i like something</h4>
                    </div>
                    <p>We Like To Hear What We 'Re Doing Right</p>
                </div>
                <div class="feed-box dislike" data-opinion=".opinionTwo">
                    <div class="info">
                        <i class="fa-regular fa-face-frown"></i>
                        <h4>i don't like something</h4>
                    </div>
                    <p>If Something's Not Right, We Want To Know About It.</p>
                </div>
                <div class="feed-box suggestion" data-opinion=".opinionThree">
                    <div class="info">
                        <i class="fa-solid fa-face-smile-wink"></i>
                        <h4>i have suggestion</h4>
                    </div>
                    <p>Share An Idea Or Improvement</p>
                </div>
            </div>
            <div class="hiden-like-box hiden-box opinionOne">
                <p class="info">i like something</p>
                <form>
                    <input class="input_feedback" type="text" placeholder="please do not include any confidential">
                    <p>by pressing submit, your feedback will be used to improve company products and services. it admins for your organization will be able to view and mange your feedback date</p>
                    <a href="#">privacy statement</a>
                    <div class="buttons">
                        <button class="submit btn" type="submit">submit</button>
                        <button class="cancel btn">cancel</button>
                    </div>
                </form>
            </div>
            <div class="hiden-dislike-box hiden-box opinionTwo">
                <p class="info">i don't like something</p>
                <form>
                    <input class="input_feedback" type="text" placeholder="please do not include any confidential">
                    <p>by pressing submit, your feedback will be used to improve company products and services. it admins for your organization will be able to view and mange your feedback date</p>
                    <a href="#">privacy statement</a>
                    <div class="buttons">
                        <button class="submit btn">submit</button>
                        <button class="cancel btn">cancel</button>
                    </div>
                </form>
            </div>
            <div class="hiden-suggetion-box hiden-box opinionThree">
                <p class="info">i have suggestion</p>
                <form >
                    <input class="input_feedback"  type="text" placeholder="please do not include any confidential">
                    <p>by pressing submit, your feedback will be used to improve company products and services. it admins for your organization will be able to view and mange your feedback date</p>
                    <a href="#">privacy statement</a>
                    <div class="buttons">
                        <button class="submit btn">submit</button>
                        <button class="cancel btn">cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end feedback -->
    <!-- start footer  -->
    <footer class="footer">
        <div class="container">
            <div class="boxes">
                <div class="row">
                    <h4>Quick Links</h4>
                    <ul class="links">
                        <li><a href="#">New Cars</a></li>
                        <li><a href="#">Used Cars</a></li>
                        <li><a href="#">Showrooms</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="row">
                    <h4>Services</h4>
                    <ul class="links">
                        <li><a href="#">Book Maintenance</a></li>
                        <li><a href="#">Finance</a></li>
                        <li><a href="#">Insurance</a></li>
                        <li><a href="#">Services directory</a></li>
                    </ul>
                </div>
                <div class="row">
                    <h4>About Us</h4>
                    <ul class="links">
                        <li><a href="#">About elgezawy</a></li>
                        <li><a href="#">Join Us!</a></li>
                    </ul>
                </div>
            </div>
            <div class="conect">
                <div class="souail-media">
                    <h4>Follow Us</h4>
                    <div class="box">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
                <div class="applecations">
                    <h4>Download our free app</h4>
                    <a href="#">
                        <img src="../../content/assets/playStore.png" alt="playStore">
                        <img src="../../content/assets/playStore.png" alt="playStore">
                        <img src="../../content/assets/playStore.png" alt="playStore">
                    </a>
                </div>
            </div>
        </div>
        <div class="reseved">
            <div class="box">
                <p>All Rights Reserved by © Mostafa Mahmoud <span class="footer_span"></span></p>
                <p>Terms of Use & Privacy Policy</p>
            </div>
        </div>
    </footer>
    <!-- end footer  -->
    
    
    <script src="../js/main.js"></script>
</html>